html, body {
   /* margin: 0; */
   padding:0;
   height: 100%;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
   background-color: black;
   color: white;
}

*, *::before, *::after {
   box-sizing: inherit;
}

#mainContainer {
   background-color: rgb(86, 86, 86);
   width: 90%;
   height: 100%;
   /* text-align: center; */
   margin: auto;
}

.topContainer{
   height: 25%;
   display: flex;
   flex-wrap: wrap;
}

#box1{
   margin-right: auto;
   flex-wrap: wrap;
   flex-grow: 2;
   /* justify-content: flex-start; */
}

#box2 {
   margin-left: auto;
   display:inline;
   flex-grow: 1;
   /* justify-content: flex-end; */
}
#box3{
   flex-wrap: wrap;
}
.stayInline {
   color: lightcoral;
   display:inline;
}

